# 4. Prueba de consultas

En esta seccion probamos las consultas

In [24]:
import os
import pandas as pd

In [25]:
data_mvp_funciones = pd.read_csv(os.path.join('D:\Bootcamp\Henry\CURSO\Proyecto Individual 1\Movies\Output','data_mvp_final_funciones.csv'),index_col=0).convert_dtypes()
data_mvp_funciones_final = pd.read_csv(os.path.join('D:\Bootcamp\Henry\CURSO\Proyecto Individual 1\Movies\Output','data_mvp_final_ml.csv'),index_col=0).convert_dtypes()
data_mvp_director = pd.read_csv(os.path.join('D:\Bootcamp\Henry\CURSO\Proyecto Individual 1\Movies\Output','data_mvp_final_funciones_exitodir.csv'),index_col=0).convert_dtypes()
data_mvp_recomendacion = pd.read_csv(os.path.join('D:\Bootcamp\Henry\CURSO\Proyecto Individual 1\Movies\Output','data_mvp_ml_recomend_indexed.csv'),index_col=[0,1]).convert_dtypes()
data_nvp_actor = pd.read_csv(os.path.join('D:\Bootcamp\Henry\CURSO\Proyecto Individual 1\Movies\Pipeline','credits_normalizada.csv'),index_col=0).convert_dtypes()

### 1. def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.

In [26]:
def cantidad_filmaciones_mes(mes: str):
    # Crear un diccionario para convertir los meses en español a números
    meses = {
        'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4,
        'mayo': 5, 'junio': 6, 'julio': 7, 'agosto': 8,
        'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12
    }
    
    # Convertir el mes a minúsculas para asegurar la coincidencia
    mes = mes.lower()
    
    if mes not in meses:
        raise ValueError("Mes inválido. Por favor ingrese un mes válido en español.")
    
    # Obtener el número correspondiente al mes
    mes_numero = meses[mes]
    
    # Convertir la columna de fechas a datetime si no lo está ya
    data_mvp_funciones ['release_date'] = pd.to_datetime(data_mvp_funciones['release_date'], errors='coerce')
    
    # Filtrar el DataFrame por el mes
    peliculas_mes = data_mvp_funciones[data_mvp_funciones['release_date'].dt.month == mes_numero]
    
    # Devolver la cantidad de filmaciones en ese mes
    return f"{len(peliculas_mes)} cantidad de peliculas fueron estrenadas en el mes de {mes}"

# Ejemplo de uso:
# df = pd.read_csv('ruta_al_archivo.csv')
# print(cantidad_filmaciones_mes('enero', df))

In [27]:
print(cantidad_filmaciones_mes('junio'))

4240 cantidad de peliculas fueron estrenadas en el mes de junio

### 2. def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.

In [28]:
def cantidad_filmaciones_dia(dia: str):
    # Crear un diccionario para convertir los días de la semana en español a números
    dias_semana = {
        'lunes': 0, 'martes': 1, 'miércoles': 2, 'jueves': 3,
        'viernes': 4, 'sábado': 5, 'domingo': 6
    }
    
    # Convertir el día a minúsculas para asegurar la coincidencia
    dia = dia.lower()
    
    if dia not in dias_semana:
        raise ValueError("Día inválido. Por favor ingrese un día válido en español.")
    
    # Obtener el número correspondiente al día
    dia_numero = dias_semana[dia]
    
    # Convertir la columna de fechas a datetime si no lo está ya
    data_mvp_funciones['release_date'] = pd.to_datetime(data_mvp_funciones['release_date'], errors='coerce')
    
    # Filtrar el DataFrame por el día de la semana
    peliculas_dia = data_mvp_funciones[data_mvp_funciones['release_date'].dt.dayofweek == dia_numero]
    
    # Devolver la cantidad de filmaciones en ese día
    return f'{len(peliculas_dia)} cantidad de peliculas fueron estrenadas en los dias {dia}'

# print(cantidad_filmaciones_dia('miércoles', df))

In [29]:
print(cantidad_filmaciones_dia('miércoles'))

9782 cantidad de peliculas fueron estrenadas en los dias miércoles

### 3. def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.

In [30]:
def score_titulo(titulo_de_la_filmacion: str):
    # Filtrar el DataFrame por el título de la filmación
    filmacion = data_mvp_funciones_final[data_mvp_funciones_final['title'].str.lower() == titulo_de_la_filmacion.lower()]

    if filmacion.empty:
        return "Título no encontrado."

    # Obtener el título, año de estreno y score
    titulo = filmacion['title'].values[0]
    anio_estreno = filmacion['release_year'].values[0]
    score = filmacion['popularity'].values[0]

    return f'La pelicula {titulo} fue estrenado en el año {anio_estreno} con un score/popularidad de {score}'

# Ejemplo de uso:
# df = pd.read_csv('ruta_al_archivo.csv')
# resultado = score_titulo('The Godfather', df)
# print(resultado)

In [31]:
resultado = score_titulo('Toy Story')
print(resultado)

La pelicula Toy Story fue estrenado en el año 1995 con un score/popularidad de 21.946943

### 4. def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.

In [32]:
def votos_titulo(titulo_de_la_filmacion:str):
    # Filtrar el DataFrame por el título de la filmación
    filmacion = data_mvp_funciones_final[data_mvp_funciones_final['title'].str.lower() == titulo_de_la_filmacion.lower()]

    if filmacion.empty:
        return "Título no encontrado."

    # Obtener la cantidad de votos y el valor promedio de las votaciones
    cantidad_votos = filmacion['vote_count'].values[0]
    promedio_votaciones = filmacion['vote_average'].values[0]
    anio_estreno = filmacion['release_year'].values[0]
    titulo_peicula = filmacion['title'].values[0]

    # Verificar si la cantidad de votos es al menos 2000
    if cantidad_votos < 2000:
        return "La filmación no tiene suficientes valoraciones (menos de 2000)."

    return f'La pelicula {titulo_peicula} fue estrenada en el año {anio_estreno}. La misma cuenta con {cantidad_votos} valoraciones, con un promedio {promedio_votaciones}.'

# Ejemplo de uso:
# df = pd.read_csv('ruta_al_archivo.csv')
# resultado = votos_titulo('The Godfather', df)
# print(resultado)

In [33]:
resultado = votos_titulo('Toy Story')
print(resultado)

La pelicula Toy Story fue estrenada en el año 1995. La misma cuenta con 5415 valoraciones, con un promedio 7.7.

### 5. def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.

In [34]:
def get_actor(nombre_actor:str):
    # Filtrar el DataFrame de cast para obtener las filas donde aparece el actor
    peliculas_con_actor = data_nvp_actor[data_nvp_actor['prtgnst_name'].str.contains(nombre_actor, case=False, na=False)]
    
    if peliculas_con_actor.empty:
        return f"No se encontraron películas para el actor: {nombre_actor}"
    
    # Eliminar duplicados: quedarse con una sola fila por combinación de movie_id y actor
    peliculas_con_actor = peliculas_con_actor.drop_duplicates(subset=['movie_id', 'prtgnst_name'])
    
    # Unir el DataFrame de películas con el DataFrame de cast usando movie_id
    df_actor_movies = peliculas_con_actor.merge(data_mvp_funciones, on='movie_id', how='inner')
    
    # Calcular la cantidad de películas en las que ha participado el actor
    cantidad_peliculas = df_actor_movies.shape[0]
    
    # Calcular el retorno total y el promedio de retorno para las películas en las que ha participado
    retorno_total = df_actor_movies['return'].sum()
    promedio_retorno = df_actor_movies['return'].mean()
    
    return f'El actor {nombre_actor} ha participado en {cantidad_peliculas} cantidad de filmaciones, el mismo a conseguido un retorno de {retorno_total} con un promedio {promedio_retorno} por filmación.'

# Ejemplo de uso:
# df_movies = pd.read_csv('ruta_al_archivo_peliculas.csv')
# df_cast = pd.read_csv('ruta_al_archivo_cast.csv')
# resultado = get_actor('Leonardo DiCaprio', df_movies, df_cast)
# print(resultado)

In [35]:
resultado = get_actor('leonardo dicaprio')
print(resultado)

El actor leonardo dicaprio ha participado en 23 cantidad de filmaciones, el mismo a conseguido un retorno de 64.65553784248664 con un promedio 3.402923044341402 por filmación.

### 6. def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [36]:
data_mvp_director.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18614 entries, 0 to 18613
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   director          18614 non-null  string
 1   director_revenue  18614 non-null  Int64
 2   director_budget   18614 non-null  Int64
 3   director_return   18614 non-null  Float64
 4   movie_id          18614 non-null  Int64
 5   title             18614 non-null  string
 6   release_date      18614 non-null  string
 7   release_year      18614 non-null  Int64
 8   budget            18614 non-null  Int64
 9   revenue           18614 non-null  Int64
 10  return            8169 non-null   Float64
dtypes: Float64(2), Int64(6), string(3)
memory usage: 1.8 MB

In [37]:
#@app.get("/get_director/{director}")
# definimos
def get_director(nombre_director: str):
    director_subset = data_mvp_director.loc[
        data_mvp_director['director'].str.contains(nombre_director)]
    director_return = director_subset['director_return'].drop_duplicates()
    director_return_res = round(float(director_return.iloc[0]),2)
    columns_peliculas=['movie_id','title','release_date','budget','revenue','return']
    director_peliculas = director_subset[columns_peliculas].drop_duplicates().fillna(0) ### OJO se colocó fillna(0) para corregir el error de NAType
    peliculas = []
    for _, pelicula in director_peliculas.iterrows():
        pelicula_info = {
            'nombre': pelicula['title'],
            'fecha_lanzamiento': pelicula['release_date'],
            'costo (USD)': ('{:,}'.format(round(pelicula['budget']))),
            'ganancia (USD)': ('{:,}'.format(round(pelicula['revenue']))),
            'retorno (ratio)': round(pelicula['return'],2)
        }
        peliculas.append(pelicula_info)
    return {
        'director': nombre_director,
        'retorno total': director_return_res,
        'peliculas': peliculas }
# test
get_director('Woody Allen')

{'director': 'Woody Allen',
 'retorno total': 3.02,
 'peliculas': [{'nombre': 'Mighty Aphrodite',
   'fecha_lanzamiento': '1995-09-13',
   'costo (USD)': '15,000,000',
   'ganancia (USD)': '6,700,000',
   'retorno (ratio)': 0.45},
  {'nombre': 'Bullets Over Broadway',
   'fecha_lanzamiento': '1994-10-14',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Manhattan Murder Mystery',
   'fecha_lanzamiento': '1993-08-18',
   'costo (USD)': '13,500,000',
   'ganancia (USD)': '11,285,588',
   'retorno (ratio)': 0.84},
  {'nombre': 'Everyone Says I Love You',
   'fecha_lanzamiento': '1996-12-06',
   'costo (USD)': '20,000,000',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Sleeper',
   'fecha_lanzamiento': '1973-12-17',
   'costo (USD)': '2,000,000',
   'ganancia (USD)': '18,344,729',
   'retorno (ratio)': 9.17},
  {'nombre': 'Bananas',
   'fecha_lanzamiento': '1971-04-28',
   'costo (USD)': '2,000,000',
   'ganancia (USD)': '11,833,696',
   'retorno (ratio)': 5.92},
  {'nombre': 'Annie Hall',
   'fecha_lanzamiento': '1977-04-19',
   'costo (USD)': '4,000,000',
   'ganancia (USD)': '38,251,425',
   'retorno (ratio)': 9.56},
  {'nombre': 'Manhattan',
   'fecha_lanzamiento': '1979-04-25',
   'costo (USD)': '0',
   'ganancia (USD)': '39,946,780',
   'retorno (ratio)': 0.0},
  {'nombre': 'Deconstructing Harry',
   'fecha_lanzamiento': '1997-08-26',
   'costo (USD)': '20,000,000',
   'ganancia (USD)': '10,686,841',
   'retorno (ratio)': 0.53},
  {'nombre': 'Take the Money and Run',
   'fecha_lanzamiento': '1969-08-18',
   'costo (USD)': '1,500,000',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'The Purple Rose of Cairo',
   'fecha_lanzamiento': '1985-03-01',
   'costo (USD)': '15,000,000',
   'ganancia (USD)': '10,631,333',
   'retorno (ratio)': 0.71},
  {'nombre': 'Stardust Memories',
   'fecha_lanzamiento': '1980-09-26',
   'costo (USD)': '10,000,000',
   'ganancia (USD)': '10,389,003',
   'retorno (ratio)': 1.04},
  {'nombre': 'Celebrity',
   'fecha_lanzamiento': '1998-09-07',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Radio Days',
   'fecha_lanzamiento': '1987-01-30',
   'costo (USD)': '16,000,000',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Crimes and Misdemeanors',
   'fecha_lanzamiento': '1989-10-13',
   'costo (USD)': '19,000,000',
   'ganancia (USD)': '18,254,702',
   'retorno (ratio)': 0.96},
  {'nombre': 'Sweet and Lowdown',
   'fecha_lanzamiento': '1999-12-03',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Small Time Crooks',
   'fecha_lanzamiento': '2000-05-19',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Everything You Always Wanted to Know About Sex *But Were Afraid to Ask',
   'fecha_lanzamiento': '1972-08-06',
   'costo (USD)': '2,000,000',
   'ganancia (USD)': '18,016,290',
   'retorno (ratio)': 9.01},
  {'nombre': 'Interiors',
   'fecha_lanzamiento': '1978-08-02',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Love and Death',
   'fecha_lanzamiento': '1975-06-10',
   'costo (USD)': '3,000,000',
   'ganancia (USD)': '20,173,742',
   'retorno (ratio)': 6.72},
  {'nombre': 'Alice',
   'fecha_lanzamiento': '1990-12-25',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Another Woman',
   'fecha_lanzamiento': '1988-10-13',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'September',
   'fecha_lanzamiento': '1987-01-01',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Shadows and Fog',
   'fecha_lanzamiento': '1991-12-05',
   'costo (USD)': '14,000,000',
   'ganancia (USD)': '2,735,731',
   'retorno (ratio)': 0.2},
  {'nombre': 'New York Stories',
   'fecha_lanzamiento': '1989-03-10',
   'costo (USD)': '15,000,000',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'The Curse of the Jade Scorpion',
   'fecha_lanzamiento': '2001-08-05',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Husbands and Wives',
   'fecha_lanzamiento': '1992-09-18',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Hollywood Ending',
   'fecha_lanzamiento': '2002-05-03',
   'costo (USD)': '16,000,000',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': "A Midsummer Night's Sex Comedy",
   'fecha_lanzamiento': '1982-07-16',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': "What's Up, Tiger Lily?",
   'fecha_lanzamiento': '1966-11-02',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Anything Else',
   'fecha_lanzamiento': '2003-08-27',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Hannah and Her Sisters',
   'fecha_lanzamiento': '1986-02-07',
   'costo (USD)': '6,400,000',
   'ganancia (USD)': '40,084,041',
   'retorno (ratio)': 6.26},
  {'nombre': 'Zelig',
   'fecha_lanzamiento': '1983-07-15',
   'costo (USD)': '0',
   'ganancia (USD)': '11,798,616',
   'retorno (ratio)': 0.0},
  {'nombre': 'Broadway Danny Rose',
   'fecha_lanzamiento': '1984-01-27',
   'costo (USD)': '8,000,000',
   'ganancia (USD)': '10,600,497',
   'retorno (ratio)': 1.33},
  {'nombre': 'Melinda and Melinda',
   'fecha_lanzamiento': '2004-10-29',
   'costo (USD)': '0',
   'ganancia (USD)': '20,085,825',
   'retorno (ratio)': 0.0},
  {'nombre': 'Match Point',
   'fecha_lanzamiento': '2005-10-26',
   'costo (USD)': '15,000,000',
   'ganancia (USD)': '85,306,374',
   'retorno (ratio)': 5.69},
  {'nombre': 'Scoop',
   'fecha_lanzamiento': '2006-07-27',
   'costo (USD)': '4,000,000',
   'ganancia (USD)': '31,584,901',
   'retorno (ratio)': 7.9},
  {'nombre': "Don't Drink the Water",
   'fecha_lanzamiento': '1994-12-18',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': "Cassandra's Dream",
   'fecha_lanzamiento': '2007-06-18',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Vicky Cristina Barcelona',
   'fecha_lanzamiento': '2008-08-15',
   'costo (USD)': '15,000,000',
   'ganancia (USD)': '96,408,652',
   'retorno (ratio)': 6.43},
  {'nombre': 'Whatever Works',
   'fecha_lanzamiento': '2009-06-19',
   'costo (USD)': '15,000,000',
   'ganancia (USD)': '35,097,815',
   'retorno (ratio)': 2.34},
  {'nombre': 'You Will Meet a Tall Dark Stranger',
   'fecha_lanzamiento': '2010-05-23',
   'costo (USD)': '22,000,000',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0},
  {'nombre': 'Midnight in Paris',
   'fecha_lanzamiento': '2011-05-11',
   'costo (USD)': '30,000,000',
   'ganancia (USD)': '151,119,219',
   'retorno (ratio)': 5.04},
  {'nombre': 'To Rome with Love',
   'fecha_lanzamiento': '2012-04-20',
   'costo (USD)': '17,000,000',
   'ganancia (USD)': '73,244,881',
   'retorno (ratio)': 4.31},
  {'nombre': 'Blue Jasmine',
   'fecha_lanzamiento': '2013-07-25',
   'costo (USD)': '18,000,000',
   'ganancia (USD)': '99,206,215',
   'retorno (ratio)': 5.51},
  {'nombre': 'Magic in the Moonlight',
   'fecha_lanzamiento': '2014-07-25',
   'costo (USD)': '16,800,000',
   'ganancia (USD)': '51,029,361',
   'retorno (ratio)': 3.04},
  {'nombre': 'Irrational Man',
   'fecha_lanzamiento': '2015-07-17',
   'costo (USD)': '11,000,000',
   'ganancia (USD)': '27,391,084',
   'retorno (ratio)': 2.49},
  {'nombre': 'Café Society',
   'fecha_lanzamiento': '2016-05-11',
   'costo (USD)': '30,000,000',
   'ganancia (USD)': '43,763,247',
   'retorno (ratio)': 1.46},
  {'nombre': 'Crisis in Six Scenes',
   'fecha_lanzamiento': '2016-09-30',
   'costo (USD)': '0',
   'ganancia (USD)': '0',
   'retorno (ratio)': 0.0}]}

Instruccion:

def recomendacion( titulo ): Se ingresa el nombre de una película y te recomienda las similares en una lista de 5 valores.

In [38]:
data_mvp_recomendacion.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 179180 entries, (np.float64(1.0), np.float64(1.0)) to (np.float64(4.0), np.float64(4.0))
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   movie_id      179180 non-null  Int64
 1   cos_smltd     179180 non-null  Float64
 2   vecino_id     179180 non-null  Int64
 3   title         179180 non-null  string
 4   vecino_title  179180 non-null  string
dtypes: Float64(1), Int64(2), string(2)
memory usage: 7.7 MB

In [45]:
#@app.get("/recomendacion_pelicula/{titulo_pelicula}")
# definimos
def recomendacion_pelicula(titulo_pelicula: str):
    recomendacion_subset = data_mvp_recomendacion.loc[
        data_mvp_recomendacion['title'].isin([titulo_pelicula])]
    pelicula_vecinos = recomendacion_subset[['vecino_title']].reset_index().drop_duplicates()
    pelicula_recomend = list(pelicula_vecinos['vecino_title'])
    return {
        'pelicula': titulo_pelicula,
        'recomendaciones': pelicula_recomend[:5]}
# test
recomendacion_pelicula('Toy Story')

{'pelicula': 'Toy Story',
 'recomendaciones': ['Class of 1984',
  'Totally Fucked Up',
  'Dollman vs. Demonic Toys',
  'Halloweentown',
  "City Slickers II: The Legend of Curly's Gold"]}